.booking {
    background-color: var(--color-white);
    border: var(--border-grey-spanish);
    display: flex;
    flex-direction: column;
}

.booking__pickers-container{
    display: flex;
    border-bottom: var(--border-grey-spanish);
}

.booking__content-container{
    padding: 0 2rem;
}