#root {
    width: 100%;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.app__main{
    margin: 0 auto;
    width: 100%;
    max-width: 124rem;
    display: flex;
    gap: 1.6rem;
}

.app__content--left{
    flex: 0 0 67%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.app__content--right{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}