#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.app__main{
    width: 100%;
    max-width: 128rem;
    display: flex;
    gap: 1.6rem;
}

.app__content--left{
    flex: 0 0 67%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.app__content--right{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}