:root {
    --color-antique-white: #f8eddc;
    --color-black: #000;
    --color-black-low-opacity: #000000bf;
    --color-blue-yonder: #3c6ea9;
    --color-golden-brown: #925f0c;
    --color-grey-granit: #666666;
    --color-grey-light: #faf9f8;
    --color-grey-spanish-light: #99999945;
    --color-grey-spanish: #999999;
    --color-lapis-lazuli: #236192;
    --color-moonstone: #3399cc;
    --color-maya-blue: #79caf2;
    --color-ming: #437181;
    --color-red: #ac0000;
    --color-white: #FFF;
    --border-grey-spanish: 1px solid var(--color-grey-spanish);
    --border-grey-spanish-light: 1px solid var(--color-grey-spanish-light);
    --border-thick-grey-spanish: 2px solid var(--color-grey-spanish);
    --border-thick-grey-spanish-light: 2px solid var(--color-grey-spanish-light);
    --border-lapis-lazuli: 1px solid var(--color-lapis-lazuli);
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 1.5;
    color: var(--color-black);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body{
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
  background-color: var(--color-grey-light);
  font-size: 1.6rem;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  transition: all .2s ease;
}

a:focus,
button:focus {
    outline-color: var(--color-red);
    outline-offset: 4px;
}


p{
    margin: 0;
}

.hide{
    display: none!important;
}

.required {
    color: var(--color-red);
}

.bold{
    font-weight: 700;
}