.checkout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black-low-opacity);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.checkout__modal {
    background-color: var(--color-white);
    border: var(--border-grey-spanish);
    width: 64.2rem;
    padding: 1.6rem;
}

.checkout__detail{
    display: flex;
    gap: 1rem;
}

.checkout__cart-items-container {
    max-height: 70vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex: 1 1 50%;
}

.checkout__total-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1rem;
}

.checkout__total {
    font-size: 1.92rem;
    font-weight: 700;
}
.checkout__confirmation{
    text-align: start;
}

.checkout__confirmation-header {
    color: var(--color-lapis-lazuli);
    font-size: 3rem;
}

.checkout__confirmation-thankyou {
    font-size: 1.92rem;
    font-weight: 700;
}

.checkout__button-container {
    padding-top: 1.6rem
}