.navlink{
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.navlink:visited{
    color: inherit;
}

    .navlink:hover,
    .navlink:focus,
    .navlink:active {
        text-decoration: underline;
        color: var(--color-maya-blue);
    }