.booking-edit {
    margin: 1.6rem auto;
    width: 100%;
    max-width: 124rem;
    background-color: var(--color-white);
    border: var(--border-grey-spanish);
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: calc(100vh - 16rem);
}

.booking-edit__content {
    width: 100%;
    display: flex;
    gap: 1.6rem;
    justify-content: space-between;
}

.booking-edit__items-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-height: 59rem;
    overflow-y: auto;
    flex-basis: 60%;
}

.booking-edit__total-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1rem;
}

.booking-edit__total {
    font-size: 1.92rem;
    font-weight: 700;
}

.booking-edit__buttons-container {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1.6rem;
}

.booking-edit__button--blue {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-lapis-lazuli);
}

.booking-edit__button-link--blue-light {
    background-color: var(--color-moonstone);
    border: var(--border-lapis-lazuli);
    border-color: var(--color-moonstone);
    color: var(--color-white);
    text-decoration: none;
    width: auto;
}

.booking-edit__button-link--blue-light:visited {
    color: var(--color-white);
}

    .booking-edit__button--blue:hover,
    .booking-edit__button--blue:focus,
    .booking-edit__button--blue:active,
    .booking-edit__button-link--blue-light:hover,
    .booking-edit__button-link--blue-light:focus,
    .booking-edit__button-link--blue-light:active {
        background-color: var(--color-white);
        color: var(--color-lapis-lazuli);
        border-color: var(--color-lapis-lazuli);
    }